{% extends 'core/base.html'%}
{% load static%}

{%block title%} Atikur Rahman {%endblock%}

{%block content%}
<div class="content">
    <div class="text-center">
        <img src="{% static 'core/images/profile.jpg' %}" alt="Profile-pic" class=" mt-5 img-thumbnail" height="250px"
             width="205px">
    </div>
    <div class="mt-5 mx-5 text-justyfy">
        <h1 class=" st-font font-weight-bold">Hello,</h1>

        <div class="px-4" style="line-height:2rem;">
            <p class="text-color" style="text-indent:100px;">
                I'm <span class="text-warning font-weight-bold">Atikur Rahman</span> and i am a full stack web developer
                and i am from Bangladesh.
                <br>
                I currently live in Munshiganj, Bangladesh. I finished my honours (B.sc) in Computer Science and
                Engineering. I
                am now learning and trying to be a
                <spna class="text-warning font-weight-bold">full stack</spna>
                web developer. I have great interest in coding, playing Football,
                travelling and anything that is creative.Thank you so much for visiting my profile.
                I am looking for a full time job. Feel free to contact me if you like my profile.
            </p>
        </div>
    </div>
   <div class="text-center">
        <a href="" class="btn btn-outline-warning my-3 mr-5">Hire Me</a> <a href="" class="btn btn-outline-info my-3">Contact</a>
   </div>
</div>
{%endblock content%}