{% extends 'core/base.html'%}
{% load static%}

{%block title%} Atikur Rahman {%endblock%}

{%block content%}
<div class="content">
    <div class="text-center">
        <img src="{% static 'core/images/profile.jpg' %}" alt="Profile-pic" class=" mt-5 img-thumbnail" height="250px"
             width="205px">
    </div>
    <div class="mt-5 mx-5 text-justyfy">

        <h1 class=" st-font font-weight-bold">{{homeData.title}},</h1>

        <div class="px-4" style="line-height:2rem;">
            <p class="text-color" style="text-indent:100px;">
                {{homeData.content|safe}}
            </p>
        </div>
    </div>
   <div class="text-center">
        <a href="" class="btn btn-outline-warning my-3 mr-5">Hire Me</a> <a href="" class="btn btn-outline-info my-3">Contact</a>
   </div>
</div>
{%endblock content%}