{% extends 'core/base.html'%}
{% load static%}

{%block title%} Services {%endblock%}

{%block content%}
    <div class="container">
        <div class="heading border-bottom mt-5 bg-dark sticky-top">
            <h1 class="text-uppercase font-weight-bold text-warning">Services</h1>
        </div>
        <div class="row mt-5">
            {% for serv in data %}
            
                <div class="col-sm-4">
                <div class="bg-dark text-center">
                    <div class="card-heading text-warning">
                        <img src=" {{serv.logo.url}}" alt="" style="height:40px; color:yellow;"></>
                    </div>
                    <div class="card-body">
                        <div class="card-title text-uppercase">
                            <h3>{{serv.title}}</h3>
                        </div>
                        <div class="card-text ">
                            {{serv.content|safe}}
                        </div>
                    </div>
                </div>
            </div>
            
            {% endfor %}
            
        </div>
    </div>
{%endblock content%}

